body{
    padding: 20px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
 }
 #navbar{
     display: flex   ;
     justify-content: space-between;
     align-items: center;
     padding-left: 6em;
 }
 #right-nav{
     width: 20%;
     display: flex;
   
 }
 a{
     text-decoration: none;
 }
 .nav{
     color: black;
     font-size: larger;
 }
#top-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 44em;
}
#mid-menu {
    display: flex;
    justify-content: center;
    gap: 29px;
}
#line{
    width: 20em;
    color: gray;
}
#chair{ 
    border-radius: 29px 29px 0px 0px;
    background-color:#F6F2FF ;
    width: 254px;   
    height: 227px;
padding-top: 5px;
    padding-left: 54px;
}
#closet{
    border-radius: 29px 29px 0px 0px;
    background-color:#F6F2FF ;
    width: 254px;   
    height: 227px;
padding-top: 5px;
    padding-left: 54px;
   
}
#dresser{
    border-radius: 29px 29px 0px 0px;
    background-color:#F6F2FF ;
    width: 254px;   
    height: 227px;
padding-top: 5px;
    padding-left: 54px;
}
#top-products{
    display: flex;
    justify-content: space-evenly;
}

#carpet{
    border-radius: 29px 29px 0px 0px;
    background-color:#F6F2FF ;
    width: 254px;   
    height: 227px;
padding-top: 5px;
    padding-left: 54px; 
}
#curtain{
    border-radius: 29px 29px 0px 0px;
    background-color:#F6F2FF ;
    width: 254px;   
    height: 227px;
padding-top: 5px;
    padding-left: 54px;
}
#sofa{
    border-radius: 29px 29px 0px 0px;
    background-color:#F6F2FF ;
    width: 254px;   
    height: 227px;
padding-top: 5px;
    padding-left: 54px;
}
#bottom-products{
    display: flex;
    justify-content: space-evenly;
}
a{
    color: black;
}